{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="d-flex row just-content-center align-items-center py-md-5 py-3" style="min-height: 90vh;">
        <div class="col-12">
            <h5>Make payment for GH: {{payment.amount}}</h5><hr>
                <script src="https://js.paystack.co/v2/inline.js"></script>
                <button type="button" class="btn btn-large btn-success" onclick="payWithPaystackPay()" id="paystack">Make Payment</button>

        </div>
    </div>
</div>
<script>
    function payWithPaystackPay(){
            document.getElementById("paystack")

                let currency = "GHS";
                let plan = "";
                let ref = '{{payment.reference}}';
                let data = {
                    key: '{{public_key}}',
                    email: '{{payment.email}}',
                    amount: '{{payment.amount_value}}',
                    ref: ref,
                    callback: function(resp){
                        window.location.href="{% url 'verify-payment' payment.reference %}";
                    }
                }

                <!-- if Boolean(currency){ -->
                <!--     data.currency = currency.toUpperCase(); -->
                <!-- } -->

                <!-- if Boolean(plan){ -->
                <!--     data.plan = plan; -->
                <!-- } -->

                var handler = PaystackPop.setup(data);
                handler.openIframe();

                }


</script>

{% endblock %}
